.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fffffd;
    font-family: Arial, sans-serif;
}
  
.login-page h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}