.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fffffd;
    font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
    .login-page {
        padding: 10px; 
        justify-content: flex-start;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .login-page {
        padding: 5px; 
        justify-content: flex-start;
        margin-bottom: 15px;
    }
}