.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fdfdfd; 
    border-bottom: 1px solid #e0e0e0; 
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-center {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex-grow: 1; 
    margin-right: 30px; 
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
  
.homePage-button {
    font-size: 20px;
    color: #333333; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.homePage-button:hover {
    color: #2c6a94; 
    transform: scale(1.1);
    text-decoration: underline;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
    max-width: 300px;
}

.search-input {
    flex-grow: 1;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.5;
}

.search-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.navbar-link {
    color: #106796; 
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #0077b6; 
    border-radius: 5px;
    background-color: #ffffff; 
    transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover {
    background-color: #0077b6; 
    color: #ffffff; 
}

.navbar-welcome {
    font-size: 16px;
    color: rgb(16, 71, 149);
    margin-right: 4px;
}

.navbar-username {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
}

.navbar-logout {
    padding: 5px 10px;
    font-size: 14px;
    color: #ffffff; 
    background-color: #da7727; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-logout:hover {
    background-color: #d32f4f; 
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px;
    }

    .navbar-left,
    .navbar-center,
    .navbar-right {
        width: 100%; 
        display: flex;
        flex-direction: column; 
        margin-bottom: 10px; 
        align-items: flex-start; 
    }

    .search-form {
        width: 100%; 
        flex-direction: column; 
    }

    .search-input {
        width: 100%; 
    }

    .search-button {
        width: 100%; 
        margin-top: 10px; 
    }
}


@media (max-width: 480px) {
    .homePage-button {
        font-size: 1.2rem;
    }

    .navbar-link {
        font-size: 0.9rem;
        padding: 4px 8px;
    }

    .navbar-logout {
        font-size: 0.9rem;
        padding: 4px 8px;
    }

    .search-button {
        font-size: 0.9rem; 
        padding: 6px 8px;
    }
}
