.post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.post{
    border: 1px solid rgb(239, 239, 239);
    background-color: rgb(250, 250, 250);
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    padding: 20px;
    text-decoration: none;
    color: #474747;
}

.post-link{
    color: #333333; 
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.post-link:hover{
    color: #2c6a94; 
    transform: scale(1.1);
    text-decoration: underline;
}

.content-link{
    color: #333333; 
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.content-link:hover{
    color: #2c6a94; 
    transform: scale(1.1);
}

.timeStamp{
    color: rgb(100, 150, 150);
}

.error-message{
    position: fixed;
    top: 50%;
    left: 40%;
    background-color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    font-weight: bold;
    max-width: 80%;
}

body {
    font-family: Arial, sans-serif;
}

button {
    background-color: #f5f5f5; 
    color: #474747; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 5px;
}

button:hover {
    background-color: #cccccc; 
}

button:active {
    background-color: #b3b3b3; 
}

@media (max-width: 768px) {
    .error-message {
        position: fixed;
        top: 40%;
        left: 35%; 
        max-width: 70%;
    }
}

@media (max-width: 480px) {
    .error-message {
        position: fixed;
        top: 35%;
        left: 15%; 
        max-width: 70%;
    }
}